{% extends 'base.html' %}
{% block content %}

<h2 class="text-center text-primary mb-4">All Complaints Dashboard</h2>

<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead class="table-primary">
<tr>
<th>ID</th>
<th>Name</th>
<th>Village</th>
<th>Status</th>
<th>Category</th>
</tr>
</thead>
<tbody>
{% for c in complaints %}
<tr>
<td>{{c.complaint_id}}</td>
<td>{{c.name}}</td>
<td>{{c.village}}</td>
<td>
{% if c.status == 'Pending' %}
<span class="badge bg-secondary">{{c.status}}</span>
{% elif c.status == 'In Progress' %}
<span class="badge bg-warning text-dark">{{c.status}}</span>
{% else %}
<span class="badge bg-success">{{c.status}}</span>
{% endif %}
</td>
<td>{{c.category}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}